AddDefaultCharset off
AddType application/x-httpd-php .php .htm .html
RewriteEngine on


# Перенапровление ajax запросов
RewriteCond %{REQUEST_URI} /ajax/
RewriteRule (.*) ajax.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]